# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/keremkurt/diversity-equity-and-inclusion-measures-dataset

Import the necessary libraries and create your dataframe(s).

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Renamed the data set for cleaning. 

df = pd.read_csv(r"/Users/Liz/Desktop/Women +/Assignment 4/cleaning-data-checkpoint3/4Clean.csv")

df.shape
df.info()
df.head()

#I can see with the 45 columns that there are several I will want to drop on this clean version
#columns 17, 19, and 20 are not relevant from the start. Beyond that, I'll want to explore how
#complete the data is in other columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  10000 non-null  int64
 1   Name                10000 non-null  object
 2   Surname             10000 non-null  object
 3   Division            10000 non-null  object
 4   Manager             10000 non-null  object
 5   Gender              10000 non-null  object
 6   Sexual_Orientation  10000 non-null  object
 7   LGBTQ               10000 non-null  object
 8   Indigenous          10000 non-null  object
 9   Ethnicity           10000 non-null  object
 10  Disability          10000 non-null  object
 11  Minority            10000 non-null  object
 12  Veteran             10000 non-null  object
 13  Date of Birth       10000 non-null  object
 14  Age                 10000 non-null  int64
 15  Preferred Name      10000 non-null  object
 16  Nationality         10000 non-null  object
 17  Hobbies             10000 non-null  object
 18  Pronouns            10000 non-null  object
 19  Mobile Number       10000 non-null  object
 20  Email               10000 non-null  object
 21  Aug_D_Q1            10000 non-null  int64
 22  Aug_D_Q2            10000 non-null  int64
 23  Aug_D_Q3            10000 non-null  int64
 24  Aug_D_Q4            10000 non-null  int64
 25  Aug_D_Q5            10000 non-null  int64
 26  D_Negative          10000 non-null  int64
 27  D_Neutral           10000 non-null  int64
 28  D_Positive          10000 non-null  int64
 29  Aug_E_Q1            10000 non-null  int64
 30  Aug_E_Q2            10000 non-null  int64
 31  Aug_E_Q3            10000 non-null  int64
 32  Aug_E_Q4            10000 non-null  int64
 33  Aug_E_Q5            10000 non-null  int64
 34  E_Negative          10000 non-null  int64
 35  E_Neutral           10000 non-null  int64
 36  E_Positive          10000 non-null  int64
 37  Aug_I_Q1            10000 non-null  int64
 38  Aug_I_Q2            10000 non-null  int64
 39  Aug_I_Q3            10000 non-null  int64
 40  Aug_I_Q4            10000 non-null  int64
 41  Aug_I_Q5            10000 non-null  int64
 42  I_Negative          10000 non-null  int64
 43  I_Neutral           10000 non-null  int64
 44  I_Positive          10000 non-null  int64
dtypes: int64(26), object(19)
memory usage: 3.4+ MB

,Id,Name,Surname,Division,Manager,Gender,Sexual_Orientation,LGBTQ,Indigenous,Ethnicity,...,E_Neutral,E_Positive,Aug_I_Q1,Aug_I_Q2,Aug_I_Q3,Aug_I_Q4,Aug_I_Q5,I_Negative,I_Neutral,I_Positive
0,1,Deborah,Addison,IT,No,Transgender,Heterosexual,Prefer not to say,No,White,...,1,2,0,1,1,0,-2,1,2,2
1,2,Mona,Hill,Marketing,No,Male,Heterosexual,No,Yes,White,...,2,3,0,-1,1,1,0,1,2,2
2,3,Kimberly,Shelton,Finance,No,Female,Heterosexual,No,No,White,...,0,4,-2,2,2,0,2,1,1,3
3,4,Denis,Robinson,HR,No,Male,Heterosexual,No,No,White,...,1,3,0,2,1,0,1,0,2,3
4,5,Carmen,Gunn,RD,No,Male,Heterosexual,No,No,Asian,...,0,5,1,1,1,2,2,0,0,5

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
#Checking the entire set for missing data. 
#Initially this is a red flag to me that nothing is missing anywhere. This prompts me to 
#be hypervigilant for the presence of irregular data. 
df02.isna().sum()

Id                    0
Name                  0
Surname               0
Division              0
Manager               0
Gender                0
Sexual_Orientation    0
LGBTQ                 0
Indigenous            0
Ethnicity             0
Disability            0
Minority              0
Veteran               0
Date of Birth         0
Age                   0
Preferred Name        0
Nationality           0
Pronouns              0
Aug_D_Q1              0
Aug_D_Q2              0
Aug_D_Q3              0
Aug_D_Q4              0
Aug_D_Q5              0
D_Negative            0
D_Neutral             0
D_Positive            0
Aug_E_Q1              0
Aug_E_Q2              0
Aug_E_Q3              0
Aug_E_Q4              0
Aug_E_Q5              0
E_Negative            0
E_Neutral             0
E_Positive            0
Aug_I_Q1              0
Aug_I_Q2              0
Aug_I_Q3              0
Aug_I_Q4              0
Aug_I_Q5              0
I_Negative            0
I_Neutral             0
I_Positive            0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [6]:
for col in df:
    print(df[col].unique())
    
#It would be interesting to see how many columns had a different given name vs preferred name.
#I'm thinking this is something I could better run on SQL. I'm definitely interested in the numbers of 
#'Prefer Not To Say' in several columns. It will be interesting to see if there are correlatins with 
#other data.

[    1     2     3 ...  9998  9999 10000]
['Deborah' 'Mona' 'Kimberly' 'Denis' 'Carmen' 'Nathan' 'Luke' 'Fred'
 'Carter' 'Harry' 'Ramon' 'Nick' 'Kassandra' 'Russel' 'Rhea' 'Liliana'
 'Brad' 'David' 'Carina' 'Henry' 'Chester' 'Ronald' 'John' 'Oliver' 'Rosa'
 'Fiona' 'Evelynn' 'Nicholas' 'Eduardo' 'Marvin' 'Domenic' 'Lindsay'
 'Carissa' 'Jane' 'Jasmine' 'Logan' 'Julianna' 'Emery' 'Gabriel' 'Hannah'
 'Chuck' 'Doug' 'Ron' 'Hadley' 'Audrey' 'Tara' 'Mason' 'Percy' 'Liam'
 'Joseph' 'Phoebe' 'Jackeline' 'Sienna' 'Marilyn' 'Taylor' 'Mark' 'Hayden'
 'Kurt' 'Candice' 'Chelsea' 'Agnes' 'Josh' 'Barney' 'Aiden' 'Noah' 'Clint'
 'Ellen' 'Amelia' 'Bob' 'Elijah' 'Ruby' 'Erin' 'Sonya' 'Barry' 'Florence'
 'Karen' 'Ethan' 'Enoch' 'Lynn' 'Holly' 'Melinda' 'Matthew' 'Adeline'
 'Phillip' 'Abbey' 'Daniel' 'Charlotte' 'Christine' 'Brooklyn' 'Tyler'
 'Mike' 'Rick' 'Anne' 'Benjamin' 'Remy' 'Marie' 'Benny' 'Rocco' 'Drew'
 'Sage' 'Alan' 'Bart' 'Ciara' 'Robyn' 'Mandy' 'Roger' 'Noemi' 'Ilona'
 'Charlize' 'Alexander' 'Daron' 'Michael' 'Zara' 'Jayden' 'Paula'
 'Rosalyn' 'Savannah' 'Piper' 'Felicity' 'Rose' 'Leroy' 'Darlene' 'Diane'
 'Zoe' 'Camellia' 'Ryan' 'Erica' 'Cameron' 'Anthony' 'Doris' 'Rowan'
 'Vanessa' 'Alessandra' 'Karla' 'Josephine' 'Alexia' 'Eve' 'Harmony'
 'Destiny' 'Alexa' 'Olivia' 'Hank' 'Anais' 'Carl' 'Kenzie' 'Chanelle'
 'Maxwell' 'Grace' 'Ember' 'Rita' 'Aleksandra' 'Sara' 'Teagan' 'Beatrice'
 'Adalind' 'Valentina' 'Aileen' 'Vera' 'Maria' 'Susan' 'Kamila' 'Wade'
 'Bethany' 'Martin' 'Samantha' 'Sydney' 'Sadie' 'Joyce' 'Emma' 'Tiffany'
 'Sarah' 'Jamie' 'Kieth' 'Blake' 'Violet' 'Erick' 'Catherine' 'Gloria'
 'Marigold' 'Jack' 'Rufus' 'Owen' 'Johnathan' 'Manuel' 'Gina' 'Andrea'
 'Rosalie' 'Abdul' 'Emely' 'Laila' 'Maddison' 'Britney' 'Alba' 'Maribel'
 'Elisabeth' 'Vivian' 'Valerie' 'Denny' 'Aisha' 'Chris' 'Willow' 'Javier'
 'Rosemary' 'Marissa' 'Camila' 'Adalie' 'Margot' 'Tess' 'Ally' 'Cadence'
 'Chad' 'Nicole' 'Melody' 'Dani' 'Jade' 'Selena' 'Boris' 'Cassandra'
 'Ivette' 'Analise' 'Colleen' 'Tyson' 'Marjorie' 'Harriet' 'Natalie'
 'Sofie' 'Peter' 'Caleb' 'William' 'Cassidy' 'Mavis' 'Margaret' 'Rosie'
 'George' 'Courtney' 'Nina' 'Juliette' 'Danny' 'Tony' 'Makenzie' 'Lucy'
 'Julian' 'Johnny' 'Bryon' 'Julia' 'Cedrick' 'Alex' 'Quinn' 'Angel' 'Cara'
 'Ivy' 'Faith' 'Tom' 'Estrella' 'Norah' 'Mina' 'Aurelia' 'Sebastian'
 'Caydence' 'Carrie' 'Ema' 'Daphne' 'Mackenzie' 'Priscilla' 'Daria'
 'Summer' 'Isla' 'Jennifer' 'Nate' 'Aeris' 'Jazmin' 'Angela' 'Davina'
 'Cristal' 'Isabel' 'Emmanuelle' 'Clarissa' 'Lorraine' 'Bryce' 'Alison'
 'Carmella' 'Lara' 'Jacob' 'Gemma' 'Bridget' 'Monica' 'Eileen' 'Rebecca'
 'Katelyn' 'Tania' 'Renee' 'Leah' 'Leilani' 'Sharon' 'Jaylene' 'Gwen'
 'Moira' 'Madelyn' 'Havana' 'Kirsten' 'Rae' 'Payton' 'Eden' 'Alma' 'Mabel'
 'Harvey' 'Miley' 'Alice' 'Gwenyth' 'Michaela' 'Matt' 'Makena' 'Shelby'
 'Caitlyn' 'Sloane' 'Belinda' 'Cherish' 'Hope' 'Angelique' 'Bernadette'
 'Christy' 'Lillian' 'Georgia' 'Lucas' 'Rachael' 'Andie' 'Francesca'
 'Jules' 'Rosalee' 'Ruth' 'Mayleen' 'Anabelle' 'Bristol' 'Esmeralda'
 'Hanna' 'Greta' 'Vicky' 'Elly' 'Janice' 'Gil' 'Allison' 'Jocelyn' 'Evie'
 'Angelina' 'Gladys' 'Morgan' 'Eryn' 'Rylee' 'Lauren' 'Luna' 'Hazel'
 'Stacy' 'Hailey' 'Stella' 'Miriam' 'Dorothy' 'Anabel' 'Dalia' 'Julius'
 'Maia' 'Leanne' 'Winnie' 'Callie' 'Crystal' 'Mary' 'Isabella' 'Dasha'
 'Michelle' 'Madison' 'Macy' 'Alessia' 'Penelope' 'Adela' 'Lexi' 'Keira'
 'Celina' 'Chloe' 'Maya' 'Judith' 'Ada' 'Penny' 'Chadwick' 'Janelle'
 'Thea' 'Kendra' 'Carla' 'Rihanna' 'Meredith' 'Sabina' 'Martha' 'Lana'
 'Danielle' 'Shannon' 'Leslie' 'Carol' 'Raquel' 'Adina' 'Claire' 'Mya'
 'Cynthia' 'Marina' 'Skylar' 'Angelica' 'Sofia' 'Melanie' 'Louise' 'Elise'
 'Bree' 'Wendy' 'Cecilia' 'Liv' 'Molly' 'Stephanie' 'Freya' 'Kate' 'Elena'
 'Livia' 'Amy' 'Marla' 'Adelaide' 'Sylvia' 'Parker' 'Irene' 'Naomi'
 'Celia' 'Jenna' 'Carolyn' 'Helen' 'Juliet' 'Jolene' 'Trisha' 'Goldie'
 'Nancy' 'Joy' 'Scarlett' 'Dakota' 'Iris' 'Shay' 'Sasha' 'Kaylee'
 'Jessica' 'Melania' 'Peyton' 'Emerald' 'Victoria' 'Regina' 'Camden'
 'Megan' 'Elle' 'Samara' 'Lily' 'Jacqueline' 'Mara' 'Maggie' 'Sabrina'
 'Paige' 'Candace']
['Addison' 'Hill' 'Shelton' 'Robinson' 'Gunn' 'Furnell' 'Sinclair'
 'Callan' 'Owen' 'Dobson' 'Mccall' 'Wilton' 'Sloan' 'Jarrett' 'Larsen'
 'Latham' 'Todd' 'Windsor' 'Russel' 'Robertson' 'Ainsworth' 'Carson'
 'Varley' 'Foxley' 'Underhill' 'Page' 'Hunt' 'Willis' 'Maxwell' 'Cadman'
 'Holmes' 'Allcott' 'Redfern' 'Michael' 'Yang' 'Roberts' 'King' 'Boyle'
 'Waterhouse' 'Ingham' 'Rixon' 'Booth' 'Ellery' 'Goldsmith' 'Tyrrell'
 'Jeffery' 'Heaton' 'Clifford' 'Allington' 'Kennedy' 'Potts' 'Farrell'
 'Bolton' 'Dallas' 'Farrant' 'Santos' 'Gosling' 'Knight' 'Phillips'
 'Stone' 'Edwards' 'Patel' 'Mitchell' 'Baker' 'Wigley' 'Addis' 'Graham'
 'Wright' 'Irwin' 'Price' 'Spencer' 'Yarwood' 'Wilkinson' 'Ellison'
 'Zaoui' 'Simpson' 'Coleman' 'Murray' 'Evans' 'Fall' 'Blackwall' 'Watson'
 'Avery' 'Hood' 'Andrews' 'Amstead' 'Quinton' 'Gilmore' 'Bishop' 'Weldon'
 'London' 'Williams' 'Wallace' 'Plumb' 'Khan' 'Olivier' 'Harper' 'Moss'
 'Payne' 'Chappell' 'Cork' 'Hastings' 'Mcgee' 'Tyler' 'Parr' 'Button'
 'Higgs' 'Potter' 'Brown' 'Moore' 'Garcia' 'Drummond' 'Kelly' 'Dann'
 'Jarvis' 'Gray' 'Ellis' 'Morrow' 'Whittle' 'Mullins' 'Neville' 'Ward'
 'Palmer' 'Kent' 'Freeburn' 'Stevens' 'Rivers' 'Collins' 'Lowe' 'Gibson'
 'Bradshaw' 'Harrington' 'Umney' 'Noon' 'Tennant' 'Hopkins' 'Selby'
 'Richards' 'Cooper' 'Welsch' 'Saunders' 'Thatcher' 'Bailey' 'Parsons'
 'Harrison' 'Chester' 'Harvey' 'Cowan' 'Weasley' 'Niles' 'West' 'Wren'
 'Stuart' 'Ashwell' 'Glass' 'Thomson' 'Shaw' 'Thompson' 'Jones' 'James'
 'Chadwick' 'Ashley' 'Yarlett' 'Abbot' 'Parker' 'Bingham' 'Fowler'
 'Mcguire' 'Verdon' 'Mcleod' 'Barrett' 'Leslie' 'Grant' 'Becker' 'Watt'
 'Benfield' 'Walker' 'Gordon' 'Milner' 'Russell' 'Curtis' 'Denton'
 'Edmonds' 'Steer' 'Pierce' 'Davies' 'Emmott' 'Seymour' 'Nielson' 'Morris'
 'Hobbs' 'Dubois' 'Norburn' 'Reese' 'Uttley' 'Doherty' 'Clark' 'Lindop'
 'Ulyatt' 'Swan' 'Roth' 'Hall' 'Shepherd' 'Horton' 'Uttridge' 'Wilcox'
 'Beal' 'Purvis' 'Newton' 'Jacobs' 'Hopkinson' 'Noach' 'Grady' 'Crawford'
 'Bradley' 'Yard' 'Pope' 'Carter' 'Hepburn' 'Emmett' 'Redwood' 'Mooney'
 'Ellwood' 'Walter' 'Boden' 'Rehman' 'Thorpe' 'Uddin' 'Snell' 'Swift'
 'Randall' 'Greenwood' 'Kaur' 'Bullock' 'Raven' 'Lloyd' 'Cavanagh' 'Lynn'
 'Stewart' 'Clarke' 'Tailor' 'Bennett' 'Reynolds' 'Sawyer' 'Vaughn'
 'Dyson' 'Nicholls' 'Brett' 'Wellington' 'Eastwood' 'Butler' 'Forth'
 'Rainford' 'Larkin' 'Ebden' 'Willson' 'Styles' 'Isaac' 'Vane' 'Lee'
 'Connor' 'Matthews' 'Dempsey' 'Ebbs' 'Devonport' 'Moreno' 'Squire'
 'Tanner' 'Adler' 'Judd' 'Hobson' 'Emerson' 'Sherry' 'Alcroft' 'Casey'
 'Donovan' 'Lunt' 'Partridge' 'Buckley' 'Mills' 'Douglas' 'Oliver' 'Shea'
 'Forester' 'Power' 'Porter' 'Gavin' 'Fenton' 'Thorne' 'Holt' 'Ring'
 'Donnelly' 'Ventura' 'Summers' 'Allwood' 'Faulkner' 'Bell' 'Thomas'
 'White' 'Bryson' 'Dickson' 'Archer' 'Walton' 'Hunter' 'Smith' 'Benson'
 'Eaton' 'Griffiths' 'Tutton' 'Flynn' 'Gregory' 'Newman' 'Turner'
 'Hancock' 'Durrant' 'Rees' 'Driscoll' 'Young' 'Alldridge' 'Everett'
 'Terry' 'Vinton' 'Harris' 'Moran' 'Eyres' 'Darcy' 'Richardson' 'Ranks'
 'Gaynor' 'Sheldon' 'Middleton' 'Preston' 'Cann' 'Mason' 'Samuel' 'Oakley'
 'Walsh' 'Gardner' 'Clifton' 'Taylor' 'Morrison' 'Pitt' 'Rycroft'
 'Johnson' 'Martin' 'Locke' 'Ianson' 'Weston' 'Shields' 'Osman' 'Norris'
 'Neal' 'Groves' 'Jenkin' 'Poulton' 'Quinnell' 'Marshall' 'Jackson'
 'Janes' 'Whitehouse' 'Aldridge' 'Rose' 'Mackenzie' 'Wise' 'Little'
 'Hammond' 'Hope' 'Lane' 'Leigh' 'Camden' 'Myatt' 'Franks' 'Carpenter'
 'Veale' 'Lucas' 'Hooper' 'Jefferson' 'Asher' 'Coates' 'Glynn' 'Gates'
 'Lindsay' 'Ross' 'Burnley' 'Malone' 'Corbett' 'Connell' 'Wilson' 'Dowson'
 'Collis' 'Huggins' 'Jordan' 'Redden' 'Oswald' 'Robe' 'Reyes' 'Jenkins'
 'Drake' 'Whitmore' 'Keys' 'Roman' 'Pickard' 'Truscott' 'Snow' 'Campbell'
 'Coll' 'Powell' 'Rowlands' 'Stark' 'Farrow' 'Quinn' 'Tait' 'Norman'
 'Sylvester' 'Howard' 'Kidd' 'Gilbert' 'Tobin' 'Dale' 'Goodman' 'Whatson'
 'Bayliss' 'Ballard' 'Brennan' 'Ogilvy' 'Mould' 'Ramsey' 'Kirby' 'Exton'
 'Collingwood' 'Ripley' 'Stubbs' 'Armstrong' 'Flanders' 'Upton' 'Knott'
 'Healy' 'Talbot' 'Bentley' 'Dillon' 'Mcneill' 'Victor' 'Addley' 'Cattell'
 'Scott' 'Brooks' 'Chapman' 'Fields' 'Irving' 'Poole' 'Anderson' 'Overson'
 'Appleton' 'Wade' 'Widdows' 'Radley' 'Nayler' 'Radcliffe' 'Crawley'
 'Speed' 'Woodley' 'Needham' 'Savage' 'Fleming' 'Upsdell' 'Briggs' 'Penn'
 'Oldfield' 'Tindall' 'Hardwick' 'Hewitt' 'Calderwood' 'Olson' 'Hogg'
 'Bristow' 'Rodwell' 'Nash' 'Ingram' 'Villiger' 'Clarkson' 'Jennson'
 'Alexander' 'Rothwell' 'Hale' 'Blythe' 'Craig' 'Farmer' 'Pratt' 'Osmond'
 'Sanchez' 'Ryan' 'Jobson' 'Lynch' 'Wheeler' 'Paterson' 'Mann' 'Gibbons'
 'May' 'Egerton' 'Giles' 'Townend' 'Strong' 'Warden' 'Waterson' 'Brock'
 'Dixon' 'Nanton' 'Nicolas' 'Lewis' 'Cunningham' 'Cartwright' 'Murphy'
 'Stanton' 'Clayton' 'Mccormick' 'Ralph' 'Rigg' 'Torres' 'Nurton' 'Roscoe'
 'Bowen' 'Riley' 'Morgan' 'Gallacher' 'Daniells' 'Bloom' 'Atkinson' 'Rust'
 'Lakey' 'Vangness' 'Rosenbloom' 'Hilton' 'Cox' 'Vincent' 'Vernon'
 'Haines' 'Cameron' 'Stevenson' 'Varndell' 'Pond' 'Wood' 'Nelson' 'Pearce'
 'Wooldridge' 'Attwood' 'Woods' 'Grey' 'Abbey' 'Bright' 'Weatcroft'
 'Adams' 'York' 'Rowan' 'Hamilton' 'Reading' 'Sherwood' 'Warren' 'Vollans'
 'Slater' 'Miller' 'Edler' 'Henderson' 'Whinter' 'Fox' 'Allen' 'Dwyer'
 'Blackburn' 'Rogan' 'Baldwin' 'Trent' 'Rogers' 'Logan' 'Rodgers' 'Kerr'
 'Rossi' 'Hudson' 'Mcnally' 'Wills' 'Bryant' 'Yates' 'Skinner' 'Drew'
 'Vallory' 'Simmons' 'Nobbs' 'Lyon' 'Andersson' 'Flack' 'Eagle' 'Vince'
 'Notman' 'Lambert' 'Vass' 'Stanley' 'Wilde' 'Edley' 'Antcliff' 'Plant'
 'Silva' 'Baxter' 'Salt' 'Reid' 'Morley' 'Herbert' 'Garner' 'Wild'
 'Graves' 'Lewin' 'Funnell' 'Cobb' 'John' 'Webster' 'Cassidy' 'Vallins'
 'Broomfield' 'Yoman' 'Dunbar' 'Vaughan' 'Tate' 'Utterson' 'Oatway'
 'Barclay' 'Lomax' 'Norton' 'Gilmour' 'Fisher' 'Downing' 'Pearson' 'Burge'
 'Duvall' 'Mcgregor' 'Woodcock' 'Gonzales' 'Warner' 'Flett' 'Long' 'Owens'
 'Thornton' 'Eddison' 'Fulton' 'Rowe']
['IT' 'Marketing' 'Finance' 'HR' 'RD' 'Sales' 'Operations']
['No' 'Yes']
['Transgender' 'Male' 'Female' 'Prefer not to say'
 'Non-binary/non-conforming' 'Other']
['Heterosexual' 'Prefer not to say' 'Bisexual' 'Homosexual' 'Other']
['Prefer not to say' 'No' 'Yes']
['No' 'Yes' 'Prefer not to say']
['White' 'Asian' 'Black' 'Middle Eastern' 'Other' 'Latin'
 'Prefer not to say']
['Yes' 'No' 'Prefer not to say']
['No' 'Yes' 'Prefer not to say']
['No' 'Prefer not to say' 'Yes']
['1993-06-04' '1963-08-02' '1979-04-25' ... '1990-03-21' '1987-08-04'
 '1960-04-27']
[29 59 43 44 50 37 34 27 52 47 54 35 32 39 33 40 26 30 36 28 49 31 41 45
 56 42 25 58 57 65 38 48 53 46 64 60 62 55 63 51 61 24]
['Deborah' 'Mona' 'Kimberly' 'Denis' 'Carmen' 'Nathan' 'Luke' 'Fred'
 'Carter' 'Harry' 'Ramon' 'Nick' 'Kassandra' 'Russel' 'Rhea' 'Liliana'
 'Brad' 'David' 'Carina' 'Henry' 'Chester' 'Ronald' 'John' 'Oliver' 'Rosa'
 'Fiona' 'Evelynn' 'Nicholas' 'Eduardo' 'Marvin' 'Domenic' 'Lindsay'
 'Carissa' 'Jane' 'Jasmine' 'Logan' 'Julianna' 'Emery' 'Gabriel' 'Hannah'
 'Chuck' 'Doug' 'Ron' 'Hadley' 'Audrey' 'Tara' 'Mason' 'Percy' 'Liam'
 'Joseph' 'Phoebe' 'Jackeline' 'Sienna' 'Marilyn' 'Taylor' 'Mark' 'Hayden'
 'Kurt' 'Candice' 'Chelsea' 'Agnes' 'Josh' 'Barney' 'Aiden' 'Noah' 'Clint'
 'Ellen' 'Amelia' 'Bob' 'Elijah' 'Ruby' 'Erin' 'Sonya' 'Barry' 'Florence'
 'Karen' 'Ethan' 'Enoch' 'Lynn' 'Holly' 'Melinda' 'Matthew' 'Adeline'
 'Phillip' 'Abbey' 'Daniel' 'Charlotte' 'Christine' 'Brooklyn' 'Tyler'
 'Mike' 'Rick' 'Anne' 'Benjamin' 'Remy' 'Marie' 'Benny' 'Rocco' 'Drew'
 'Sage' 'Alan' 'Bart' 'Ciara' 'Robyn' 'Mandy' 'Roger' 'Noemi' 'Ilona'
 'Charlize' 'Alexander' 'Daron' 'Michael' 'Zara' 'Jayden' 'Paula'
 'Rosalyn' 'Savannah' 'Piper' 'Felicity' 'Rose' 'Leroy' 'Darlene' 'Diane'
 'Zoe' 'Camellia' 'Ryan' 'Erica' 'Cameron' 'Anthony' 'Doris' 'Rowan'
 'Vanessa' 'Alessandra' 'Karla' 'Josephine' 'Alexia' 'Eve' 'Harmony'
 'Destiny' 'Alexa' 'Olivia' 'Hank' 'Anais' 'Carl' 'Kenzie' 'Chanelle'
 'Maxwell' 'Grace' 'Ember' 'Rita' 'Aleksandra' 'Sara' 'Teagan' 'Beatrice'
 'Adalind' 'Valentina' 'Aileen' 'Vera' 'Maria' 'Susan' 'Kamila' 'Wade'
 'Bethany' 'Martin' 'Samantha' 'Sydney' 'Sadie' 'Joyce' 'Emma' 'Tiffany'
 'Sarah' 'Jamie' 'Kieth' 'Blake' 'Violet' 'Erick' 'Catherine' 'Gloria'
 'Marigold' 'Jack' 'Rufus' 'Owen' 'Johnathan' 'Manuel' 'Gina' 'Andrea'
 'Rosalie' 'Abdul' 'Emely' 'Laila' 'Maddison' 'Britney' 'Alba' 'Maribel'
 'Elisabeth' 'Vivian' 'Valerie' 'Denny' 'Aisha' 'Chris' 'Willow' 'Javier'
 'Rosemary' 'Marissa' 'Camila' 'Adalie' 'Margot' 'Tess' 'Ally' 'Cadence'
 'Chad' 'Nicole' 'Melody' 'Dani' 'Jade' 'Selena' 'Boris' 'Cassandra'
 'Ivette' 'Analise' 'Colleen' 'Tyson' 'Marjorie' 'Harriet' 'Natalie'
 'Sofie' 'Peter' 'Caleb' 'William' 'Cassidy' 'Mavis' 'Margaret' 'Rosie'
 'George' 'Courtney' 'Nina' 'Juliette' 'Danny' 'Tony' 'Makenzie' 'Lucy'
 'Julian' 'Johnny' 'Bryon' 'Julia' 'Cedrick' 'Alex' 'Quinn' 'Angel' 'Cara'
 'Ivy' 'Faith' 'Tom' 'Estrella' 'Norah' 'Mina' 'Aurelia' 'Sebastian'
 'Caydence' 'Carrie' 'Ema' 'Daphne' 'Mackenzie' 'Priscilla' 'Daria'
 'Summer' 'Isla' 'Jennifer' 'Nate' 'Aeris' 'Jazmin' 'Angela' 'Davina'
 'Cristal' 'Isabel' 'Emmanuelle' 'Clarissa' 'Lorraine' 'Bryce' 'Alison'
 'Carmella' 'Lara' 'Jacob' 'Gemma' 'Bridget' 'Monica' 'Eileen' 'Rebecca'
 'Katelyn' 'Tania' 'Renee' 'Leah' 'Leilani' 'Sharon' 'Jaylene' 'Gwen'
 'Moira' 'Madelyn' 'Havana' 'Kirsten' 'Rae' 'Payton' 'Eden' 'Alma' 'Mabel'
 'Harvey' 'Miley' 'Alice' 'Gwenyth' 'Michaela' 'Matt' 'Makena' 'Shelby'
 'Caitlyn' 'Sloane' 'Belinda' 'Cherish' 'Hope' 'Angelique' 'Bernadette'
 'Christy' 'Lillian' 'Georgia' 'Lucas' 'Rachael' 'Andie' 'Francesca'
 'Jules' 'Rosalee' 'Ruth' 'Mayleen' 'Anabelle' 'Bristol' 'Esmeralda'
 'Hanna' 'Greta' 'Vicky' 'Elly' 'Janice' 'Gil' 'Allison' 'Jocelyn' 'Evie'
 'Angelina' 'Gladys' 'Morgan' 'Eryn' 'Rylee' 'Lauren' 'Luna' 'Hazel'
 'Stacy' 'Hailey' 'Stella' 'Miriam' 'Dorothy' 'Anabel' 'Dalia' 'Julius'
 'Maia' 'Leanne' 'Winnie' 'Callie' 'Crystal' 'Mary' 'Isabella' 'Dasha'
 'Michelle' 'Madison' 'Macy' 'Alessia' 'Penelope' 'Adela' 'Lexi' 'Keira'
 'Celina' 'Chloe' 'Maya' 'Judith' 'Ada' 'Penny' 'Chadwick' 'Janelle'
 'Thea' 'Kendra' 'Carla' 'Rihanna' 'Meredith' 'Sabina' 'Martha' 'Lana'
 'Danielle' 'Shannon' 'Leslie' 'Carol' 'Raquel' 'Adina' 'Claire' 'Mya'
 'Cynthia' 'Marina' 'Skylar' 'Angelica' 'Sofia' 'Melanie' 'Louise' 'Elise'
 'Bree' 'Wendy' 'Cecilia' 'Liv' 'Molly' 'Stephanie' 'Freya' 'Kate' 'Elena'
 'Livia' 'Amy' 'Marla' 'Adelaide' 'Sylvia' 'Parker' 'Irene' 'Naomi'
 'Celia' 'Jenna' 'Carolyn' 'Helen' 'Juliet' 'Jolene' 'Trisha' 'Goldie'
 'Nancy' 'Joy' 'Scarlett' 'Dakota' 'Iris' 'Shay' 'Sasha' 'Kaylee'
 'Jessica' 'Melania' 'Peyton' 'Emerald' 'Victoria' 'Regina' 'Camden'
 'Megan' 'Elle' 'Samara' 'Lily' 'Jacqueline' 'Mara' 'Maggie' 'Sabrina'
 'Paige' 'Candace']
['Polish' 'Lao' 'Canadian' 'Korean' 'English' 'Norwegian' 'Indian'
 'Jordanian' 'Sri Lankan' 'British' 'Brazilian' 'American' 'Ukrainian'
 'Mongolian' 'Malaysian' 'Chinese' 'Greek' 'Australian' 'Afghan'
 'Icelandic' 'Costa Rican' 'Czech' 'Fijian' 'Moroccan' 'Bangladeshi'
 'Hungarian' 'Colombian' 'Dominican' 'Zambian' 'Lebanese' 'Scottish'
 'Latvian' 'Peruvian' 'Vietnamese' 'Nigerian' 'Russian' 'German' 'Chilean'
 'Indonesian' 'Taiwanese' 'Cuban' 'Uruguayan' 'Guatemalan' 'Spanish'
 'Thai' 'Japanese' 'Namibian' 'Danish' 'Irish' 'Malagasy' 'Bolivian'
 'Honduran' 'Austrian' 'Romanian' 'Philippine' 'Dutch' 'South African'
 'Batswana' 'Lithuanian' 'Venezuelan' 'Ghanaian' 'Iraqi' 'Jamaican'
 'Paraguayan' 'Tongan' 'Libyan' 'Kuwaiti' 'Argentinian' 'Ecuadorian'
 'Nepalese' 'Singaporean' 'French' 'Zimbabwean' 'Mozambican' 'Tunisian'
 'Nicaraguan' 'Egyptian' 'Mexican' 'Belgian' 'Kenyan' 'Croatian'
 'Bulgarian' 'Slovak' 'Turkish' 'Tajikistani' 'Estonian' 'New Zealand'
 'Maltese' 'Cambodian' 'Algerian' 'Cameroonian' 'Panamanian' 'Haitian'
 'Pakistani' 'Salvadorian' 'Finnish' 'Ethiopian' 'Swedish' 'Syrian'
 'Saudi' 'Welsh' 'Emirati' 'Serbian' 'Sudanese' 'Swiss' 'Israeli'
 'Albanian' 'Senegalese' 'Portuguese' 'Italian' 'Malian' 'Iranian']
['Travelling' 'Reading' 'Sports' 'Cooking' 'Music' 'Video Games'
 'Crafting' 'Fishing']
['They/them/theirs' 'He/him/his' 'She/her/hers' 'Ze/hir/hirs' 'E/em/eirs'
 'Ze/zir/zirs' 'Xe/xem/xyrs']
['363 436 1096' '905 980 9989' '788 356 1577' ... '695 929 9404'
 '821 130 2328' '181 174 9542']
['Deborah.Addison@mail.ca' 'Mona.Hill@mail.ca' 'Kimberly.Shelton@mail.ca'
 ... 'Abbey.Randall@mail.ca' 'Benny.Abbot@mail.ca' 'Olivia.Denton@mail.ca']
[-1 -2  0  2  1]
[ 2 -1  0  1 -2]
[-1  0 -2  1  2]
[ 0  2 -1  1 -2]
[-2  2  1  0 -1]
[3 1 2 4 0 5]
[1 2 0 3 4 5]
[1 3 2 4 0 5]
[ 0  2  1 -1 -2]
[-1  2  1 -2  0]
[ 1  0  2 -2 -1]
[-2  2 -1  0  1]
[ 1  0  2 -2 -1]
[2 0 1 3 4 5]
[1 2 0 3 4 5]
[2 3 4 5 1 0]
[ 0 -2  1 -1  2]
[ 1 -1  2 -2  0]
[ 1  2 -2  0 -1]
[ 0  1  2 -1 -2]
[-2  0  2  1 -1]
[1 0 3 4 2 5]
[2 1 0 4 3 5]
[2 3 5 4 1 0]

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [7]:
#These columns are not relevant to the business question. 
df02 = df.drop(['Hobbies','Mobile Number','Email'], axis = 1)

#I'm not certain there is much benefit to keeping both the birthday and age columns. I need to check to see if
#there are issues there (ex the age is not correct per the birthday), otherwise, I don't 
#see needing both to address my visualization.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [12]:
pd.options.display.max_columns = 100
df02.head(5)

print(df02['Gender'].value_counts())
print(df02['Sexual_Orientation'].value_counts())
print(df02['LGBTQ'].value_counts())
print(df02['Minority'].value_counts())

Male                         5902
Female                       3388
Prefer not to say             397
Non-binary/non-conforming     110
Other                         106
Transgender                    97
Name: Gender, dtype: int64
Heterosexual         8406
Prefer not to say     972
Homosexual            407
Other                 112
Bisexual              103
Name: Sexual_Orientation, dtype: int64
No                   8177
Yes                  1175
Prefer not to say     648
Name: LGBTQ, dtype: int64
No                   7694
Yes                  2206
Prefer not to say     100
Name: Minority, dtype: int64

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? I did not find missing or inconsistent data. 
2. Did the process of cleaning your data give you new insights into your dataset? Yes. From my previous analysis, I am concerned about employee privacy as this is not an anonoymous data set and some of these questions are quite personal. I am interested to know why some employees answered "Prefer Not To Say" while some selected "Other." In most categories, there are a small number of answers compared to the full data set, but I think that's the point of this data. Also, in the "Minority" column, is the employee deciding if they identify as a minority? In what sense? Ethnic, racial, gender, sexual orientation. I cannot see the question, so I'm not certain tha this column is useful for my purposes. 
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
I want to make sure I compare things in an meanigful way. As I started to pay around with charts, I don't think that it makes sense to compare certain points (LGBTQ to Gender). I believe it is more helpful to the business question to instead compare these columns to departments, management numbers, etc. 

Additionally, I think it is critical to develop a simple way to visualize diversity, equity, and inclusion separately and collectively.